/******************************************
/* BASE STYLES
/*******************************************/
#add, #getToken {
  color: #EEEEEE;
  cursor: pointer;
}

#add {
  font-size: 25px;
  text-align: right;
  margin-right: 10px;
}

#getToken {
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
}

#apiList {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  transition: height 2s;
}

#container {
	width: 600px;
	margin: 1.5% auto 1% auto;
}

#footer {
  background: #191919;
  height: 35px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#header {
  background: #191919;
  color: #EEEEEE;
  text-align: center;
  height: 45px;
  padding-top: 5px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.expand {
  height: 675px !important;
  overflow: scroll !important;
}

body {
  color: #4c4c4c;
  font-size: 25px;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  background: #EEEEEE;
}

/******************************************
/* COMMON STYLES
/*******************************************/
#cancel, #getToken {
  float: left;
}

#submit, #add {
  float: right;
}

.modal-content, #piechart {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    width: 40%; /* Could be more or less, depending on screen size */
    height: 200px;
}

.run:hover, .edit:hover, .delete:hover, .history:hover, #cancel:hover, #submit {
  cursor: pointer;
  background: #4C4C4C;
}

.block {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.modal, #piechartContainer {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.none {
  visibility: hidden;
  opacity: 0;
  transition: visibility 500ms, opacity 500ms linear;
}

/******************************************
/* URL LIST STYLES
/*******************************************/
.displayName {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.green, .red, .orange, .yellow, .teapot {
    color: #FFFAFA;
}
.green, li:nth-child(even).green {
  background: #329832;
}

.red, li:nth-child(even).red {
  background: #c13232;
}

.orange, li:nth-child(even).orange {
  background: #de8732;
}

.yellow, li:nth-child(even).yellow {
  background: #cccc3c;
}

.run, .edit, .delete, .history {
  padding: 8px 35px 8px 35px;
  margin-left: 32px;
  margin-top: 10px;
  background: #9a9a9a;
  color: #FFFAFA;
  border-radius: 12px;
  border: 0;
  width: 35px;
  text-align: center;
}

li {
  list-style: none;
  padding: 10px;
}

li:nth-child(even) {
  background: #e5e1e1;
}

/*** 418 Easter Egg ***/
.teapot {
  -webkit-animation: color_change 500ms infinite alternate;
  -moz-animation: color_change 500ms infinite alternate;
  -ms-animation: color_change 500ms infinite alternate;
  animation: color_change 500ms infinite alternate;
}

@-webkit-keyframes color_change {
  from { background-color: blue; }
  to { background-color: red; }
}
@-moz-keyframes color_change {
  from { background-color: blue; }
  to { background-color: red; }
}
@-ms-keyframes color_change {
  from { background-color: blue; }
  to { background-color: red; }
}
@-o-keyframes color_change {
  from { background-color: blue; }
  to { background-color: red; }
}
@keyframes color_change {
  from { background-color: blue; }
  to { background-color: red; }
}
/******************************************
/* MODAL-ONLY STYLES
/*******************************************/
#cancel, #submit, #modalHeader {
  display: block;
  text-align: center;
  color: #EEEEEE;
  height: 50px;
  padding-top: 8px;
  margin-top: 15px;
}

#cancel, #submit {
  width: 50%;
}

#cancel {
  background: #4c4c4c;
}

#checkboxContainer, #labelContainer {
  display: block;
  float: left;
}

#checkbox {
  width: 20px;
}

#checkboxContainer {
  margin-left: 5%;
}

#labelContainer {
  font-size: 20px;
  margin-top: 8px;
  margin-left: 3%;
}

#modalHeader {
  background: #191919;
  color: #EEEEEE;
  font-weight: bold;
  margin-bottom: 15px;
}

#submit {
  background: #329832;
}

.clear {
  clear: both;
}

input {
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  width: 90%;
  margin-left: 5%;
}

/******************************************
/* PIECHART-ONLY STYLES
/*******************************************/

#piechartContainer {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

#piechart {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    height: 400px;
    width: 400px;
}
